In [2]:
import pandas as pd

In [3]:
content = pd.read_csv("Content.csv")
reaction = pd.read_csv("Reactions.csv")
re_type = pd.read_csv("ReactionTypes.csv")

In [4]:
content_0 = content.loc[:, ["Content ID", "Type", "Category"]]
content_0

                               Content ID   Type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2  photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo   healthy eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f  photo   healthy eating
3    356fff80-da4d-4785-9f43-bc1261031dc6  photo       technology
4    01ab84dd-6364-4236-abbb-3f237db77180  video             food
..                                    ...    ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb  video  public speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c    GIF       technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b  audio         veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7    GIF          culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56  audio       technology

[1000 rows x 3 columns]

In [5]:
content_0.isna().any()

Content ID    False
Type          False
Category      False
dtype: bool

In [6]:
content_0["Category"].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', '"tennis"', 'Culture', '"food"',
       'Food', '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [7]:
content_0["Category"] = content_0["Category"].str.replace('"', '')
content_0["Category"] = content_0["Category"].str.title()
content_0["Category"].unique()

array(['Studying', 'Healthy Eating', 'Technology', 'Food', 'Cooking',
       'Dogs', 'Soccer', 'Public Speaking', 'Science', 'Tennis', 'Travel',
       'Fitness', 'Education', 'Veganism', 'Animals', 'Culture'],
      dtype=object)

In [8]:
content_1 = content_0.rename(columns={"Type": "Content Type"})
content_1

                               Content ID Content Type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2        photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo   Healthy Eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f        photo   Healthy Eating
3    356fff80-da4d-4785-9f43-bc1261031dc6        photo       Technology
4    01ab84dd-6364-4236-abbb-3f237db77180        video             Food
..                                    ...          ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb        video  Public Speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c          GIF       Technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b        audio         Veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7          GIF          Culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56        audio       Technology

[1000 rows x 3 columns]

In [9]:
reaction_0 = reaction.loc[:, ["Content ID", "Type", "Datetime"]]
reaction_0

                                 Content ID        Type             Datetime
0      97522e57-d9ab-4bd6-97bf-c24d952602d2         NaN  2021-04-22 15:17:15
1      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2020-11-07 09:43:50
2      97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike  2021-06-17 12:22:51
3      97522e57-d9ab-4bd6-97bf-c24d952602d2      scared  2021-04-18 05:13:58
4      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2021-01-06 19:13:01
...                                     ...         ...                  ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56     dislike  2020-06-27 09:46:48
25549  75d6b589-7fae-4a6d-b0d0-752845150e56   intrigued  2021-02-16 17:17:02
25550  75d6b589-7fae-4a6d-b0d0-752845150e56  interested  2020-09-12 03:54:58
25551  75d6b589-7fae-4a6d-b0d0-752845150e56     worried  2020-11-04 20:08:31
25552  75d6b589-7fae-4a6d-b0d0-752845150e56     cherish  2021-01-04 04:55:11

[25553 rows x 3 columns]

In [10]:
reaction_0.isna().any()

Content ID    False
Type           True
Datetime      False
dtype: bool

In [11]:
reaction_0.isna().sum()

Content ID      0
Type          980
Datetime        0
dtype: int64

In [12]:
reaction_0["Type"].unique()

array([nan, 'disgust', 'dislike', 'scared', 'interested', 'peeking',
       'cherish', 'hate', 'love', 'indifferent', 'super love',
       'intrigued', 'worried', 'like', 'heart', 'want', 'adore'],
      dtype=object)

In [13]:
reaction_dna = reaction_0.dropna()
reaction_dna

                                 Content ID        Type             Datetime
1      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2020-11-07 09:43:50
2      97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike  2021-06-17 12:22:51
3      97522e57-d9ab-4bd6-97bf-c24d952602d2      scared  2021-04-18 05:13:58
4      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2021-01-06 19:13:01
5      97522e57-d9ab-4bd6-97bf-c24d952602d2  interested  2020-08-23 12:25:58
...                                     ...         ...                  ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56     dislike  2020-06-27 09:46:48
25549  75d6b589-7fae-4a6d-b0d0-752845150e56   intrigued  2021-02-16 17:17:02
25550  75d6b589-7fae-4a6d-b0d0-752845150e56  interested  2020-09-12 03:54:58
25551  75d6b589-7fae-4a6d-b0d0-752845150e56     worried  2020-11-04 20:08:31
25552  75d6b589-7fae-4a6d-b0d0-752845150e56     cherish  2021-01-04 04:55:11

[24573 rows x 3 columns]

In [14]:
reaction_1 = reaction_dna.rename(columns={"Type": "Reaction Type"})
reaction_1

                                 Content ID Reaction Type             Datetime
1      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2020-11-07 09:43:50
2      97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike  2021-06-17 12:22:51
3      97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  2021-04-18 05:13:58
4      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2021-01-06 19:13:01
5      97522e57-d9ab-4bd6-97bf-c24d952602d2    interested  2020-08-23 12:25:58
...                                     ...           ...                  ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56       dislike  2020-06-27 09:46:48
25549  75d6b589-7fae-4a6d-b0d0-752845150e56     intrigued  2021-02-16 17:17:02
25550  75d6b589-7fae-4a6d-b0d0-752845150e56    interested  2020-09-12 03:54:58
25551  75d6b589-7fae-4a6d-b0d0-752845150e56       worried  2020-11-04 20:08:31
25552  75d6b589-7fae-4a6d-b0d0-752845150e56       cherish  2021-01-04 04:55:11

[24573 rows x 3 columns]

In [15]:
re_type_0 = re_type.iloc[:, 1:]
re_type_0

           Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30
5   indifferent   neutral     20
6          love  positive     65
7    super love  positive     75
8       cherish  positive     70
9         adore  positive     72
10         like  positive     50
11      dislike  negative     10
12    intrigued  positive     45
13      peeking   neutral     35
14       scared  negative     15
15      worried  negative     12

In [16]:
re_type_0.isna().any()

Type         False
Sentiment    False
Score        False
dtype: bool

In [17]:
re_type_0["Type"].unique()

array(['heart', 'want', 'disgust', 'hate', 'interested', 'indifferent',
       'love', 'super love', 'cherish', 'adore', 'like', 'dislike',
       'intrigued', 'peeking', 'scared', 'worried'], dtype=object)

In [18]:
re_type_1 = re_type_0.rename(columns={"Type": "Reaction Type"})
re_type_1

   Reaction Type Sentiment  Score
0          heart  positive     60
1           want  positive     70
2        disgust  negative      0
3           hate  negative      5
4     interested  positive     30
5    indifferent   neutral     20
6           love  positive     65
7     super love  positive     75
8        cherish  positive     70
9          adore  positive     72
10          like  positive     50
11       dislike  negative     10
12     intrigued  positive     45
13       peeking   neutral     35
14        scared  negative     15
15       worried  negative     12

In [41]:
master_0 = reaction_1.merge(content_1, on="Content ID")
master_0

,Content ID,Reaction Type,Datetime,Content Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,Studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,Studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,Studying
...,...,...,...,...,...
24568,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,audio,Technology
24569,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,audio,Technology
24570,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020-09-12 03:54:58,audio,Technology
24571,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,audio,Technology
24572,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,audio,Technology

In [43]:
master_1 = master_0.merge(re_type_1, on="Reaction Type")
master_1

,Content ID,Reaction Type,Datetime,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-04-09 02:46:20,photo,Studying,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,2021-03-28 21:15:26,photo,Healthy Eating,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,2020-08-04 05:40:33,photo,Healthy Eating,negative,0
...,...,...,...,...,...,...,...
24568,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,2020-10-04 22:26:33,audio,Veganism,positive,72
24569,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,2020-09-18 10:50:50,audio,Veganism,positive,72
24570,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-10-31 03:58:44,GIF,Culture,positive,72
24571,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-06-25 15:12:29,GIF,Culture,positive,72
24572,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-12-17 16:32:57,GIF,Culture,positive,72

In [57]:
category_score = master_1.groupby("Category")["Score"].sum().sort_values(ascending= False)
category_score

Category
Animals            74965
Science            71168
Healthy Eating     69339
Technology         68738
Food               66676
Culture            66579
Travel             64880
Cooking            64756
Soccer             57783
Education          57436
Fitness            55323
Studying           54269
Dogs               52511
Tennis             50339
Veganism           49619
Public Speaking    49264
Name: Score, dtype: int64

In [63]:
top_5_categories = category_score.iloc[:5]
top_5_categories

Category
Animals           74965
Science           71168
Healthy Eating    69339
Technology        68738
Food              66676
Name: Score, dtype: int64

In [65]:
master_1.to_csv("cleaned_data.csv")
top_5_categories.to_csv("top_5_categories.csv")